$font18: 18px;
$light-base-color: #21d3f7;
$dark-base-color: #025683;
$off-white-color: #e3f7ff;
$flex: flex;

//----------GENERAL
.form-container {
    display: $flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgb(0, 209, 224);
    background: radial-gradient(
        circle,
        rgba(0, 209, 224, 1) 45%,
        rgba(0, 126, 173, 1) 87%,
        rgba(1, 74, 129, 1) 100%
    );
}

.login-form {
    margin-top: 7%;
    padding: 30px 20px;
    height: 66vh;
    width: 25vw;
    min-width: 308px;
    max-width: 400px;
    min-height: 580px;
    display: $flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    align-items: center;
    background-color: #11171b;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.orDiv {
    font-size: 20px;
    color: white;
    // font-style: italic;
    padding: 10px 0 20px;
    font-weight: 500;
}

#login-form__submit-button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 3px solid $dark-base-color;
    border-radius: 3px;
    background-color: $dark-base-color;
    color: $off-white-color;

    &:hover {
        cursor: pointer;
        background-color: $light-base-color;
        color: $dark-base-color;
        border-color: $light-base-color;
    }
}

//-----------CUSTOMIZE USER
.login-form__input-label {
    padding-bottom: 5px;
    font-size: $font18;
    color: $light-base-color;
}

.login-form__input-label-disabled {
    padding-bottom: 5px;
    font-size: $font18;
    color: rgb(78, 78, 78);
}

.login-form__input {
    padding: 5px;
    font-size: 16px;
    border: 3px solid $light-base-color;
    border-radius: 3px;
    background-color: #d8e8ee;

    &:hover {
        background-color: #b3e9ff;
    }
}

.login-form__input-disabled {
    padding: 5px;
    font-size: 16px;
    border: 3px solid #acacac;
    border-radius: 3px;
    background-color: #d3cfcf;
}

.login-form__span{
    margin-top: 10px;
    font-size: $font18;
    color: $off-white-color;
}

.login-form__span--disabled {
    color: rgb(78, 78, 78);
}

.login-form__random-checkbox {
    margin-top: 10px;
    font-size: $font18;
    color: $light-base-color;
}

figure {
    position: relative;
    border: 2px solid rgba(white, 0.2);
    border-radius: 4px;
    padding: 15px;
}

#figcaption1 {
    font-size: 25px;
    color: white;
    position: absolute;
    bottom: 97%;
    left: 18%;
}

.customizeUser {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 3px 20px;
}


//--------------RANDOMIZE USER
#figcaption2 {
    font-size: 25px;
    position: absolute;
    bottom: 85%;
    left: 18%;
}

.randomizeUser {
    color: white;
    padding: 10px 14.43px;
}
