html, body, div, span,
h1, h2, h3, h4, h5, h6, p, ol, ul, li,form, label,
figure, figcaption {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

figcaption, figure{
	display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

ol,
ul {
    list-style: none;
}

textarea:focus,
input:focus,
button:focus,
select:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.chat {
    width: 100vw;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
