$zero-px: 0px;

.login-form__avatar-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 230px;
  }
  
  .login-form__avatar {
    margin: 5px;
    width: 60px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    transition: border-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
        border-style: solid;
        border-width: 1px;
        border-radius: 6px;
      }
  }
  
  .login-form__avatar--selected {
    background-color: rgb(35, 62, 83);
    border-color: rgb(45, 202, 255);
    transform: scale(1.2);
  }
  
  .login-form__avatar--disabled {
    opacity: 0.5;
    border-color: transparent;
    border-style: none;
    border-width: $zero-px;
    border-radius: $zero-px;
    transition: none;

    &:hover {
        cursor: initial;
        transform: none;
        border-width: $zero-px;
      }
  }
  
  .login-form__avatar--animation {
    animation-name: flash;
    animation-duration: 0.8s;
  }
  
  @-webkit-keyframes flash {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.15);
    }
    40% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes flash {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.15);
    }
    40% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  